<!DOCTYPE html>
<html>

<head>
  <title>ur welcome</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <p>{{ answer }}</p>
  <p><a href="/">Click here to convert again</a></p>
</body>

</html>
